<div class="wrapper">
  <h2>task-list works!</h2>
  <h3>4</h3>
  <div class="img-block">
    <!--  <img src="docs/assets/1563793926959.png" alt="photo">-->
    <pinch-zoom>
      <img src="assets/1563793926959.png" alt="photo">
    </pinch-zoom>
  </div>

  <hr>

  <div class="img-block">
    <img src="assets/1563793926959.png" alt="photo"
         [ngStyle]="{'width': 99 + zoom + '%'}">
  </div>

  {{'width ' + 99  + zoom + '%'}}

</div>
<!--<p>test 5 keydown</p>-->
<!--<input #input-->
<!--       type="text"-->
<!--       (click)="clickInput()"-->
<!--       (input)="inputValue($event)"-->
<!--       (keyup)="handleKeydown($event)"-->
<!--       (keydown.enter)="onInputKeydown($event)"-->
<!--       (keydown)="keypPress()"-->
<!--       [(ngModel)]="searchQuery"-->
<!--       class="input-dropdown-s"-->
<!--       placeholder="Select or type in...">-->
