<h2>task-list works!</h2>
<h3>ssaassa</h3>

<div class="img-block">
<!--  <img src="docs/assets/1563793926959.png" alt="photo">-->
  <img src="assets/1563793926959.png" alt="photo">
</div>
<!--<p>test 5 keydown</p>-->
<!--<input #input-->
<!--       type="text"-->
<!--       (click)="clickInput()"-->
<!--       (input)="inputValue($event)"-->
<!--       (keyup)="handleKeydown($event)"-->
<!--       (keydown.enter)="onInputKeydown($event)"-->
<!--       (keydown)="keypPress()"-->
<!--       [(ngModel)]="searchQuery"-->
<!--       class="input-dropdown-s"-->
<!--       placeholder="Select or type in...">-->
